<%= require('html-loader!./includes/header.html') %>

    <main class="container articles-list">
        <% for (let i = 0; i < 15; i++) { %>
            <div class="card article">
                <img class="card-img-top" src="./assets/img/dessert.jpg" alt="Card image">
                <div class="card-body">
                    <h5 class="card-title">Article title</h5>
                    <p class="card-text">This is a preview of the article that we are using in OhAr.</p>
                    <p class="card-text">5 March 2018</p>
                    <div class="card-text">Temática</div>
                    <div class="row card-text author">
                        <img src="./assets/img/author.jpg" alt="Autor" class="author-image">
                        <div class="author-name">Laura Gracia</div>
                    </div>

                </div>
            </div>
            <% } %>
    </main>

    <%= require('html-loader!./includes/footer.html') %>