<%= require('html-loader!./includes/header.html') %>

<main class="container articles-list">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mattis velit eu tortor ullamcorper malesuada. In vel porttitor ante. Donec dignissim consectetur lobortis. Aliquam mollis erat sed libero euismod sollicitudin. Nunc consequat felis ut augue vulputate, tristique commodo mauris fermentum. Praesent ultricies nisl congue dolor elementum tempor. Morbi a justo suscipit, pretium magna eget, rhoncus lectus. Ut ac ultricies sem, ac condimentum nisl. Fusce id dignissim ligula. Pellentesque ultricies dui eu urna semper lobortis. Nunc non est dictum turpis venenatis hendrerit tincidunt eu purus. Morbi eget lectus a lectus consequat placerat sit amet quis nibh. </main>

<%= require('html-loader!./includes/footer.html') %>
