<%= require('html-loader!./includes/header.html') %>

    <div class="login-form">
        <form action="#" method="post">
            <h2 class="text-center">Acceder</h2>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Usuario" required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Contraseña" required="required">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Acceder</button>
            </div>
            <div class="clearfix">
                <a href="#" class="pull-right">¿Has olvidado la contraseña?</a>
            </div>
        </form>
        <p class="text-center">
            <a href="/signup.html">Crear cuenta</a>
        </p>
    </div>


    <%= require('html-loader!./includes/footer.html') %>