// to determine the length of the excerpt
$font-size: 1rem;
$line-height: 1.4;
$lines-to-show: 3;

.articles__list {

    .article__item {
        display: flex; //para usar flexbox
        flex-direction: column;
        background: #ffffee;
        margin: 5px;
        //box-shadow: 0 1px 3px grey;
        //border-radius: 5px;
        overflow: hidden;
        //transition: 0.25 all;
        display: inline-flex;
        width: 30%;

        .article__image {
            .article__photo {
                width: 100%;
            }
        }

        .article__info {
            flex: 1;
        }

        .article__excerpt {
            flex: 2;
            height: $font-size*$line-height*$lines-to-show;
            text-overflow: ellipsis;
            //white-space: nowrap;
            overflow: hidden;
        }
    }
}