@import "mixins/transparent-background";

.web-header {
    position: fixed;
    width: 100%;
    z-index: 99999;
    box-shadow: 0 0 5px $shadow-color;

    .navbar-brand {
        font-size: 1.50rem;
    }
}
